<div>

  <select (change)="filterForArticles($event.target.value)" class="form-control">
    <option value="-1">--選擇--</option>
    <option *ngFor="let item of List; let i = index" value={{i}}>
      {{item.ClientName}}
    </option>
  </select>
</div>

<p></p>

<div *ngIf="Entity.ClientId">

  <table class="table table-bordered table-striped">
    <tbody>

      <tr>

        <td>
          編號:
        </td>
        <Td>
          {{Entity.ClientId}}
        </Td>
      </tr>
      <tr>
        <td>
          名稱:
        </td>
        <td>
          <b>{{Entity.ClientName}} </b>
        </td>
      </tr>
      <tr>
        <td>
          地址:
        </td>
        <td>
          {{Entity.Address}}
        </td>
      </tr>
      <tr>
        <td>
          電話:
        </td>
        <td>
          {{Entity.Phone}}
        </td>
      </tr>
      <tr>
        <td>
          身高:
        </td>
        <td>
          {{Entity.Info.Height}}
        </td>
      </tr>
      <tr>
        <td>
          備註:
        </td>
        <td>
          {{Entity.Info.Note}}
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-lg btn-primary" (click)=save()>儲存紀錄</button>
  <div *ngIf="change" style="color: red;">All changes need to click the button to save!</div>
  <p></p>
  <table class="table table-bordered table-striped">

    <tbody>
      <th>
        基本數據 <button type="button" class="btn btn-success" (click)="openModal()">新增紀錄</button>
      </th>
      <th>
        血壓
      </th>
      <th>
        餐飲
      </th>

      <tr *ngFor='let item of Entity.InfoHistory | paginate: { itemsPerPage: 7, currentPage: p} ; let x = index'>
        <td>
          {{item.DateTime}} 體重:
          {{ item.Weight}}KG 步數:
          <span *ngIf="item.WalkSteps < 10000">{{ item.WalkSteps }} </span>
          <span *ngIf="item.WalkSteps >= 10000" style="color: red;">{{ item.WalkSteps }} </span>步
          <span *ngIf="item.Comment" style="color:blue;">({{item.Comment}})</span>

          <table>
            <tr>
              <td>
                <button type="button" class="btn btn-sm btn-warning" (click)=editform(x)>編輯</button>
              </td>
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-sm btn-danger" (click)=delete(x)>刪除</button>
              </td>
            </tr>
          </table>



        </td>

        <td>
          <table>

            <tbody class="table table-bordered table-striped">
              <tr *ngFor="let blood of item.BloodPressures">
                <td> 收縮壓:{{blood.BloodHigh}}
                  舒張壓:{{blood.BloodLow}}
                  脈搏: {{blood.Pulse}}
                  {{blood.DateTime}}
                </td>
              </tr>
            </tbody>
          </table>

        <td>
          <table>


            <tbody class="table table-bordered table-striped">
              <tr *ngFor="let meal of item.Meals">
                <td> {{meal.DateTime}} - {{meal.Name}}
                  <img [src]="meal.ImageLink" style="width: 100%;" /> </td>

              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>

</div>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">處理中...</p>
</ngx-spinner>
