<h6 mat-dialog-title>   {{Entity.Name}}  <button mat-raised-button	color="accent" class="btn-space" (click)="Add()"><mat-icon>add</mat-icon> 新增配對 </button>
</h6>

<mat-dialog-content>

  <div class="example-container">

  <mat-card>

    <br>
    <div >
      <img src='{{Entity.ImgLink}}'   class="img" >
    </div>

  </mat-card>

  <mat-card *ngFor="let info of Entity.Arranges ; let x = index">

    <mat-form-field class="example-full-width">
      <mat-label>日期</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="info.Date" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>



    <mat-form-field >
      <mat-label>有興趣對象</mat-label>
      <mat-select [(ngModel)]="info.InterestedId">
        <mat-option *ngFor="let f of MaleGroup" [value]="f.Id">
          {{f.Name}}  <img src='{{f.ImgLink}}'   class="smallimg" > {{Formatdate(f.Birthday)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>安排狀況</mat-label>
      <input matInput type="string"
      [(ngModel)]='info.ArrangeStatus'
      />
    </mat-form-field>

    <mat-form-field style="width: 60%;margin-right: 5px;">
      <mat-label>結果</mat-label>
      <textarea matInput [(ngModel)]="info.Result" ></textarea>
    </mat-form-field>



    <button mat-raised-button	color="warn" (click)="RemovePayment(x)"><mat-icon>delete</mat-icon> 刪除</button>

  </mat-card>

  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button	color="primary" (click)="Save()"><mat-icon>save</mat-icon> 儲存</button>
  <button mat-raised-button	color="primary" (click)="Cancel()"><mat-icon>cancel</mat-icon> 取消</button>
</mat-dialog-actions>




<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">處理中...</p>
</ngx-spinner>

