.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 20%;
  height: 20%;

}

.smallimg {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2px;
  width: 10%;
  height: 10%;

}


.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%
}


.space {
  margin-right: 5px;
}
