<div>
  <span> <img src='../assets/Photos/tealogo.jpg' width=20% height=20% /></span>
  <p></p>
</div>

<h3>搜尋 客戶庫存  <span style="color: gray;"> {{Search}}</span>  總項:{{showtotal}} 總庫存量: {{showtotalstock}}</h3>
<div>
      <button type="button" class="btn btn-success" onclick="location.href='#/teaportal';">返回管理頁面</button>

      <p>
        選擇資料來源模式:
        <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" [value]="selectedVal">
          <mat-button-toggle value="Excel" (change)='onValChange($event.value)'>Excel上傳模式</mat-button-toggle>
          <mat-button-toggle value="Self" (change)='onValChange($event.value)'>獨立資料庫模式</mat-button-toggle>
        </mat-button-toggle-group>
      </p>
</div>
<div class="form form-row">
  <label>搜尋茶葉庫存:</label>
  <input type="string" placeholder="編號或名稱" class="form form-control"
  [(ngModel)]='Search'
  style="width: 8em;"
  />

  <label> 或是   </label>
  <input type="string" placeholder="產品大類" class="form form-control"
  [(ngModel)]='Search2'
  style="width: 8em;"
  />
</div>

<p></p>


<table class="table table-bordered table-striped table-hover">
  <tr>
      <th>
          客戶編號
      </th>
      <th>
          客戶名稱
      </th>
      <th>
         庫藏
      </th>
      <th>

      </th>
  </tr>


      <tbody>
          <tr *ngFor = 'let item of searchlist' >
              <td>
                  {{item.ClientId}}
              </td>
              <td>
                {{ item.ClientName}}
              </td>
              <td>
                <table>
                  <th>
                    <button  *ngIf="SelfFunctionMode" type="button" class="btn btn-sm btn-primary" (click) = OpenTradeDialog()>藏品交易移轉</button>
                  </th>
                  <th>
                    產品編號
                 </th>
                 <th>
                     產品名稱
                 </th>
                 <th>
                     入庫數量
                 </th>
                 <th>
                     單位
                 </th>
                 <th>
                     出庫數量
                 </th>
                 <th>
                     庫存量
                 </th>
                 <th>
                  產品大類
                </th>
                <th>
                  產品條碼
                </th>
                <th>
                  倉架位置
                </th>
                  <tr *ngFor = 'let info of item.Inventories'>
                    <td>
                      <input   *ngIf="SelfFunctionMode" type="checkbox" class="example-margin" (change)="trade(info, item)"/>
                    </td>
                   <td>
                      {{info.ProductId}}
                    </td>
                    <td>
                      {{info.ProductName}}
                    </td>

                    <td>
                      {{info.Stock}}
                    </td>
                    <td>
                      {{info.Unit}}
                    </td>
                    <td>
                      {{info.Return}}
                    </td>
                    <td>
                      {{info.NotReturn}}
                    </td>
                    <td>
                      {{info.GroupId}}
                    </td>
                    <td>
                      {{info.BarCode}}
                    </td>
                    <td>
                      {{info.LocationId}}
                    </td>
                  </tr>
                  <tfoot>
                    <tr>
                      <td>小計</td>
                      <td></td>
                      <td></td>
                      <td> <b>{{ item.SubStock}}</b></td>
                      <td></td>
                      <td><b> {{ item.SubReturn}}</b> </td>
                      <td><b>{{ item.SubTotal}}</b></td>
                    </tr>
                  </tfoot>
                </table>
              </td>


              <td>
                  <button type="button" class="btn btn-sm btn-info" (click) = showUserEntity(item.ClientId)>藏家頁面</button>
              </td>
          </tr>
      </tbody>

</table>

<div>
      <button type="button" class="btn btn-success" onclick="location.href='#/teaportal';">返回管理頁面</button>
      <p></p>
</div>

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">處理中...</p>
</ngx-spinner>
