<span> <img src='../assets/Photos/tealogo.jpg' width=20% height=20% /></span>
<form>
  <div class="form-group">
      <div>
          <label>選擇文章: </label>
          <select (change)="filterForArticles($event.target.value)" class="form-control">
            <option value="-1">--選擇--</option>
            <option *ngFor="let item of List; let i = index" value={{i}}>
              {{item.Title}} | {{item.Comment}}
            </option>
          </select>
        </div>
        <br>
        
        <carousel  interval="0">
                <slide *ngFor="let item of Entity.Pages">
                  <img [src]="item.Image_Url" alt="Pages" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>{{item.Name}}</h3>
                    <p>{{item.Comment}}</p>
                  </div>
                </slide> 
        </carousel>
        

  </div>
</form>

<div>
  推廣網頁QR
  <a href='https://leecloud.blob.core.windows.net/image/qr.jpg' download="TeaQR.jpg"><img src='https://leecloud.blob.core.windows.net/image/qr.jpg' width=20% height=20% /></a>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">處理中...</p>
</ngx-spinner>