<div class="background">

  <div class="container">


      <div class="question">{{Entity.Question}}</div>
      <p></p>
      <br>
      <div class="answer" mat-button	 color="primary"	(click)="click1()"><i class="fas fa-leaf"></i> {{A1}}</div>

      <p></p>
        <br>

      <div class="answer" mat-button	 color="primary" (click)="click2()"><i class="fas fa-leaf"></i>  {{A2}}</div>

      <p></p>
      <br>

      <div class="answer" mat-button	 color="primary"	(click)="click3()"> <i class="fas fa-leaf"></i>  {{A3}}</div>



  </div>

</div>


