<div>
    <span><img src='../assets/Photos/inhublogo.png' width=10% height=10% /></span>
    <p></p>
</div>


<p></p>


<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" onclick="location.href='#/bcform';">新增</button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-info" onclick="location.href='#/InHubLog';">WebJobs Logs</button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" onclick="location.href='#/bcuser';">到使用者/會員管理</button>
  </div>
</div>

<p></p>
<ng-template #popTemplate> <div [innerHtml]="pophtml"></div></ng-template>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            ID
        </th>
        <th>
            名稱
        </th>
        <th>
            城市
        </th>
        <th>
            地址
        </th>

        <th>

        </th>
    </tr>


        <tbody>
            <tr *ngFor = 'let item of List ' [tooltip]="popTemplate" (mouseover)='popup(item)'>
                <td>
                    {{item._id}}
                </td>
                <td>{{ item.company}}

                </td>
                <td>   {{item.county}} </td>
                <td>{{ item.street}}</td>
                <td>
                        <!-- <button type="button" class="btn btn-primary" (click) = showform(item.Id)>展示</button>    | -->
                        <button type="button" class="btn btn-info" (click) = openform(item._id)>編輯</button>    |
                        <button type="button" class="btn btn-danger" (click) = delete(item._id)>刪除</button>
                </td>


            </tr>
        </tbody>

</table>



<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">處理中...</p>
</ngx-spinner>
