<div>
  <span> <img src='../assets/Photos/tealogo.jpg' width=20% height=20% /></span>
  <p></p>
</div>

<h3>所有客戶付款表</h3>

<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-success" onclick="location.href='#/teaportal';">返回管理頁面</button>
    <p>
      選擇資料來源模式:
      <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" [value]="selectedVal">
        <mat-button-toggle value="Excel" (change)='onValChange($event.value)'>Excel上傳模式</mat-button-toggle>
        <mat-button-toggle value="Self" (change)='onValChange($event.value)'>獨立資料庫模式</mat-button-toggle>
      </mat-button-toggle-group>
    </p>
  </div>
  <div class="col-sm-4">

  </div>
  <div *ngIf="!SelfFunctionMode" class="col-sm-4">
    <button type="button" class="btn btn-warning" (click)="updateUsers()">更新付款人名單和庫存數量</button>
  </div>
  <div *ngIf="SelfFunctionMode" class="col-sm-4">
    <button type="button" class="btn btn-danger" (click)="updateFullInvSubUsers()">更新付款人名單和庫存數量</button>
  </div>
</div>

<p></p>
<div class="form form-row">
  <label>搜尋:</label>
  <input type="string" placeholder="編號或名稱" class="form form-control"
  [(ngModel)]='Search'
  style="width: 8em;"
  />
</div>
<p></p>
<table class="table table-bordered table-striped table-hover">
  <tr>
      <th>
          客戶編號
      </th>
      <th>
          客戶名稱
      </th>
      <th>
        目前倉儲庫存(基本單位)
      </th>
      <th>
        每月目前管理費
      </th>
      <th>
          付款週期
      </th>
      <th>
          上次付款日期
      </th>
      <th>
         下次付款日期
      </th>
      <th>

      </th>
  </tr>


      <tbody>
          <tr *ngFor = 'let item of List' >
              <td>
                  {{item.ClientId}}
              </td>
              <td>{{ item.ClientName}}

              </td>
              <td>{{ item.Info.TotalStock}}</td>
              <td>{{ item.Info.TotalFee}}</td>
              <td>
                  {{item.Info.PaymentPeriod}} 個月
              </td>
              <td>
                {{ item.Info.LastPaymentDate}}
              </td>
              <td>
                {{ item.Info.NextPaymentDate}}
              </td>
              <td>
                  <button type="button" class="btn btn-sm btn-success" (click) = showEntity(item.ClientId)>內容</button>
              </td>
          </tr>
      </tbody>

</table>

<div>
      <button type="button" class="btn btn-success" onclick="location.href='#/teaportal';">返回管理頁面</button>
      <p></p>
</div>

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">處理中...</p>
</ngx-spinner>
