<div class="modal-header table-hover">
        
    </div>
              <div class="modal-body">
    
              <div fxLayout="column" fxLayoutAlign=" none">
                <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayout.xs="column">
                  <div *ngFor="let i of list; let x = index" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                      {{i.Day}} : <input [(ngModel)]="i.StartTime" #ctrl="ngModel" name="strttime"> -
                      <input [(ngModel)]="i.EndTime" #ctrl="ngModel" name="endtime"> 
                  </div> 
                </div>
              </div>
                      
              </div>
              <div class="modal-footer">
                     <button type="button" class="btn btn-primary" (click)="Save()">儲存</button>  
                    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">取消</button>
              </div>
        
