<div>
        <span> <img src='../assets/Photos/tealogo.jpg' width=20% height=20% /></span>
        <p></p>
    </div>

    <h1>所有客戶庫存表</h1>

      <div class="row">
        <div class="col-sm-8">
          <button type="button" class="btn btn-success"  onclick="location.href='#/teaportal';">返回管理頁面</button>
        </div>

        <div *ngIf="SelfFunctionMode" class="col-sm-4">
          <button type="button" class="btn btn-danger" (click)="syncExcelData()">同步Excel 資料進入獨立資料庫</button>
        </div>
      <div>

            <p></p>
            <p>
              選擇資料來源模式:
              <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" [value]="selectedVal">
                <mat-button-toggle value="Excel" (change)='onValChange($event.value)'>Excel上傳模式</mat-button-toggle>
                <mat-button-toggle value="Self" (change)='onValChange($event.value)'>獨立資料庫模式</mat-button-toggle>
              </mat-button-toggle-group>
            </p>

    <div class="form form-row">
        <label>搜尋:</label>
        <input type="string" placeholder="編號或名稱" class="form form-control"
        [(ngModel)]='Search'
        style="width: 8em;"
        />
    </div>
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>
                客戶編號
                <div *ngIf="SelfFunctionMode">
                  <button type="button" class="btn btn-sm btn-primary" (click) = AddClientInfo(item)>新增客戶</button>
                </div>
            </th>
            <th>
                客戶名稱
            </th>
            <th>
                地址
            </th>
            <th>
                電話
            </th>
            <th>

            </th>
        </tr>


            <tbody>
                <tr *ngFor = 'let item of list' >
                    <td>
                        {{item.ClientId}}

                        <button type="button" class="btn btn-sm btn-primary" (click) = EditClientInfo(item)>編輯</button>
                        <div *ngIf="SelfFunctionMode">
                          <button type="button" class="btn btn-sm btn-danger" (click) = DeleteClientInfo(item)>刪除</button>
                        </div>
                    </td>
                    <td>{{ item.ClientName}}

                    </td>
                    <td>{{ item.Address}}</td>
                    <td>
                        {{item.Phone}}
                    </td>

                    <td>
                        <button type="button" class="btn btn-sm btn-success" (click) = showEntity(item.ClientId)>庫藏內容</button> |
                        <button type="button" class="btn btn-sm btn-info" (click) = showUserEntity(item.ClientId)>藏家頁面</button> |
                        <button type="button" class="btn btn-sm btn-warning" (click) = copyEncodeUrl(item)>複製藏家連結{{item.Message}}</button>
                    </td>
                </tr>
            </tbody>

    </table>

    <div>
            <button type="button" class="btn btn-success" onclick="location.href='#/teaportal';">返回管理頁面</button>
            <p></p>
    </div>

    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple"
    >
      <p style="font-size: 20px; color: white">處理中...</p>
    </ngx-spinner>
