<div class="background">

  <div class="container"   [@simpleFadeAnimation]="'in'">


      <div class="question">{{Title}}</div>
      <p></p>
      <br>
      <div class="answer">
        <i class="far fa-address-book"></i>
        {{Content}}


      <p></p>
      <br>


      <div class="answer2" >
        <mat-form-field style="width: 60%;">
          <mat-label>公司</mat-label>
          <input matInput type="string"
          [(ngModel)]='Entity.Age'
          placeholder = '公司或單位名稱..'
          />
        </mat-form-field>

      </div>
    <p></p>
    <br>

        <div class="answer2" >
          <mat-form-field style="width: 60%;">
            <mat-label>稱呼</mat-label>
            <input matInput type="string"
            [(ngModel)]='Entity.Name'
            placeholder = '李經理 陳副總..'
            />
          </mat-form-field>

        </div>
      <p></p>
      <br>

      <div class="answer2" >
        <mat-form-field  style="width: 60%;">
          <mat-label>聯絡電話</mat-label>
          <input matInput type="string"
          [(ngModel)]='Entity.Phone'
          />
        </mat-form-field>

      </div>

      <p></p>
      <br>

      <div class="answer2" >
        <mat-form-field style="width: 60%;">
          <mat-label>Email</mat-label>
          <input matInput type="string"
          [(ngModel)]='Entity.Email'
          />
        </mat-form-field>

      </div>
      <p></p>
      <br>
      <div class="answer2" >
        <mat-form-field style="width: 70%;">
          <mat-label>意見或需求</mat-label>
          <textarea matInput [(ngModel)]="Entity.Note" placeholder="如果有需求或問題 我們專責客服會與您聯絡"></textarea>
        </mat-form-field>
      </div>
      <p></p>
      <br>
    </div>

        <div  class="row">
          <div class="col-md-4">
            <button class="direction" (click)="click2()"><i class="far fa-hand-point-left"></i> 上一頁 </button>
          </div>
          <div class="col-md-8">
            <button class="direction" (click)="click1()"><i class="far fa-hand-point-right"></i> 上傳 </button>
          </div>
        </div>



</div>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">處理中...</p>
</ngx-spinner>
