body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 70px 0;

}

.question {
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  line-height: 30pt;
  background: rgb(212, 116, 6);/* Fallback color */
  background: rgb(235, 107, 3);/* Black background with 0.5 opacity */
  color:white;
  width: 100%;
  padding: 20px;
}

.answer{
  font-size: 30px;
  line-height: 26pt;
  background: rgb(241, 240, 238);/* Fallback color */
  background: rgba(248, 247, 245, 0.9);/* Black background with 0.5 opacity */
  color: black;
  width: 100%;
  padding: 20px;
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  overflow-y:scroll;
  overflow-x:hidden;
  height: 100%;
  width: 100%;
  background-image: url('./../../../assets/Photos/b1.jpg');
  opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
