<div class="background">

  <div class="container">


      <div class="question">請留下您的基本資料以獲取關於普洱茶的最新資訊</div>
      <p></p>
      <br>
      <div class="answer" >
        <mat-form-field>
          <mat-label>年齡</mat-label>
          <select matNativeControl [(ngModel)]="Entity.Age">
            <option value="15-25歲">15-25歲</option>
            <option value="26-35歲">26-35歲</option>
            <option value="35-45歲">35-45歲</option>
            <option value="45-55歲">45-55歲</option>
            <option value="55-65歲">55-65歲</option>
            <option value="65歲以上">65歲以上</option>
          </select>
        </mat-form-field>
      </div>

      <p></p>
        <br>

        <div class="answer" >
          <mat-form-field style="width: 60%;">
            <mat-label>稱呼</mat-label>
            <input matInput type="string"
            [(ngModel)]='Entity.Name'
            placeholder = '李先生 陳太太..'
            />
          </mat-form-field>

        </div>
      <p></p>
      <br>

      <div class="answer" >
        <mat-form-field  style="width: 60%;">
          <mat-label>電話</mat-label>
          <input matInput type="string"
          [(ngModel)]='Entity.Phone'
          />
        </mat-form-field>

      </div>

      <p></p>
      <br>

      <div class="answer" >
        <mat-form-field style="width: 60%;">
          <mat-label>Email</mat-label>
          <input matInput type="string"
          [(ngModel)]='Entity.Email'
          />
        </mat-form-field>

      </div>
      <p></p>
      <br>
      <div class="answer" >
        <mat-form-field style="width: 70%;">
          <mat-label>意見</mat-label>
          <textarea matInput [(ngModel)]="Entity.Note" placeholder="請多給我們一點意見吧"></textarea>
        </mat-form-field>
      </div>
      <p></p>
      <br>

      <button class="question"  (click)="SaveEntity()"> <i class="fas fa-cloud-upload-alt"></i> 上傳</button>

  </div>

</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">處理中...</p>
</ngx-spinner>
