
<div>
    <span><img src='../assets/Photos/inhublogo.png' width=10% height=10% /></span>
    <p></p>
</div>

<div class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-primary" (click)="SaveEntity()">儲存</button> |
        <button type="button" class="btn btn-default" onclick="location.href='#/bccenter';">返回</button>
        <p></p>
</div>

<div class="body-content">

        <table class="table table-bordered table-striped">
                <tbody>

                    <tr>
                        <td>
                            ID:
                        </td>
                        <TD>
                                {{Entity._id}}
                        </TD>
                    </tr>
                    <tr>
                        <td>
                                商務中心名稱:
                        </td>
                        <td>
                                <input [(ngModel)]="Entity.company" #ctrl="ngModel" required name="entityname"  #fullName="ngModel" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                      <td>
                              商務中心名稱 英文:
                      </td>
                      <td>
                              <input [(ngModel)]="Entity.company_en" #ctrl="ngModel" required name="entityname_en"  #fullName="ngModel" class="form-control">
                      </td>
                  </tr>
                  <tr>
                        <td>
                            介紹:
                        </td>
                        <td>

                                <textarea class="form-control"
                                name="intro"
                                rows="4"
                                [(ngModel)]="Entity.intro"
                                #message='ngModel'
                                ></textarea>
                        </td>
                    </tr>
                    <tr>
                      <td>
                          介紹 (英文):
                      </td>
                      <td>

                              <textarea class="form-control"
                              name="intro_en"
                              rows="4"
                              [(ngModel)]="Entity.intro_en"
                              #message='ngModel'
                              ></textarea>
                      </td>
                  </tr>


                    <tr>
                        <td>
                            街:
                        </td>
                        <td>
                                <input [(ngModel)]="Entity.street" #ctrl="ngModel" name="address" class="form-control">
                        </td>
                    </tr>
                    <tr>
                      <td>
                          Street:
                      </td>
                      <td>
                              <input [(ngModel)]="Entity.street_en" #ctrl="ngModel" name="Street_en" class="form-control">
                      </td>
                  </tr>

                    <tr>
                            <td>
                                市:
                            </td>
                            <td>
                                    <input [(ngModel)]="Entity.county" #ctrl="ngModel" name="County">
                            </td>
                    </tr>
                    <tr>
                      <td>
                          City:
                      </td>
                      <td>
                              <input [(ngModel)]="Entity.county_en" #ctrl="ngModel" name="County_en">
                      </td>
              </tr>
                    <tr>
                            <td>
                                區:
                            </td>
                            <td>
                                    <input [(ngModel)]="Entity.district" #ctrl="ngModel" name="District">
                            </td>
                    </tr>
                    <tr>
                      <td>
                          District :
                      </td>
                      <td>
                              <input [(ngModel)]="Entity.district_en" #ctrl="ngModel" name="District_en">
                      </td>
              </tr>
                    <tr *ngIf="!isAdd">
                            <td>
                                設備:  <button type="button" class="btn btn-info" (click)="openModal()">編輯</button>
                            </td>
                            <td>


                                        <div fxLayout="column" fxLayoutAlign=" none">
                                                <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayout.xs="column">
                                                  <div *ngFor="let i of Entity.features" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                                                       {{i.name}}
                                                       <!-- <img  src ="https://image.flaticon.com/icons/svg/1642/1642269.svg" style="height: 50px; width: 50px;"> -->
                                                  </div>
                                                </div>
                                        </div>


                            </td>
                        </tr>
                        <tr  *ngIf="!isAdd">
                          <td>
                              空位數:
                          </td>
                          <td>
                                  <input [(ngModel)]="Entity.defaultSeats" #ctrl="ngModel" name="DefaultSeats">
                          </td>
                        </tr  >
                        <tr  *ngIf="!isAdd">
                          <td>
                              預扣點數:
                          </td>
                          <td>
                                  <input [(ngModel)]="Entity.points" #ctrl="ngModel" name="Points">
                          </td>
                        </tr  >
                    <tr *ngIf="!isAdd">
                        <td>
                            座標:    <button type="button" class="btn btn-sm btn-primary" (click)="saveGPS()">更新GPS</button>
                        </td>
                        <td>
                          Latitude  :  <input [(ngModel)]="Entity.latitude " #ctrl="ngModel" name="Latitude ">
                        </td>
                    </tr>

                    <tr  *ngIf="!isAdd">
                      <td>

                      </td>
                      <td>
                        Longitude  :   <input [(ngModel)]="Entity.longitude" #ctrl="ngModel" name="Longitude">
                      </td>
                    </tr>
                    <tr  *ngIf="!isAdd">
                        <td colspan="2">
                                <google-map
                                height="500px"
                                width="100%"
                                [zoom]="zoom"
                                [center]="center"
                                [options]="options"
                                >
                                <map-marker
                                    *ngFor="let marker of markers"
                                    [position]="marker.position"
                                    [label]="marker.label"
                                    [title]="marker.title"
                                    [options]="marker.options"
                                    (mapClick)="opengooglemap()"
                                >
                                </map-marker>


                                </google-map>
                        </td>
                    </tr>

                    <tr  *ngIf="!isAdd">
                        <td colspan="2">
                            圖片:

                                <div class="center">
                                        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                                        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                              拖曳或是選擇要上傳的圖片
                                              <button type="button" (click)="openFileSelector()">Browse Files</button>
                                            </ng-template>
                                        </ngx-file-drop>

                                </div>
                        </td>
                    </tr>
                    <tr  *ngIf="!isAdd">
                        <td colspan="2">
                                <ul *ngFor="let i of Entity.imageUrls; let x = index" class="list-group">
                                    <li class="list-group-item">
                                        <img src='https://in-hub-dev.azurewebsites.net/{{i}}'   class="img-thumbnail" > <p></p>
                                        <!-- 名稱:<input [(ngModel)]="i.Name" #ctrl="ngModel"  name="imagename" class="form-control"/> <p></p>
                                        備註: <input [(ngModel)]="i.Comment" #ctrl="ngModel"  name="imageComment" type="text"  class="form-control"/><p></p> -->
                                        <button type="button" class="btn btn-danger btn-xs" (click) ="RemoveImage(x)">Remove</button>
                                    </li>
                                </ul>
                        </td>
                    </tr>
                </tbody>
                </table>




</div>




     <hr>
    <div class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-primary" (click)="SaveEntity()">儲存</button> |
            <button type="button" class="btn btn-default" onclick="location.href='#/bccenter';">返回</button>
    </div>




<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">處理中...</p>
</ngx-spinner>

