<div class="row">
    <label>搜尋:</label>
    <input type="string"
    [(ngModel)]='Search'
    style="width: 6em;"
    /> 
</div>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            顧客姓名
        </th>
        <th>
            電話
        </th>
        <th>
            Email
        </th>
        <th>
            通話紀錄
        </th>
        <th>
            備註 (後續追蹤)
        </th>
        <th>
            時間
        </th>
    </tr>
    
        <tr>
            <td>
                <input type="string"
                [(ngModel)]='Name'
                style="width: 6em;"
                /> 
            </td>
            <td>
                <input type="string"
                [(ngModel)]='PhoneNumber'
                style="width: 6em;"
                /> 
            </td>
            <td>
                <input type="string"
                [(ngModel)]='Email'  
                /> 
            </td>
            <td>
                <textarea [(ngModel)]='Note' class="form-control" >

                </textarea>
            </td>
            <td  class="warning">
                <textarea [(ngModel)]='Comment' class="form-control">

                </textarea>
            </td>
            <td>
                
            </td>
            <td>
                <button class="btn btn-primary" (click) = 'addlog()'>
                    新增
                 </button>
                
            </td>
        </tr>

        <tbody> 
            <tr *ngFor = 'let item of logList'>
                
                <td>{{ item.Name}}</td>
                <td>{{ item.PhoneNumber }}</td>
                <td>{{ item.Email}}
                    <button *ngIf='item.Email' type="button" class="btn btn-success" (click)="openEmailModal(item)">Email</button>
                </td>
                <td>{{ item.Note}}</td>
                <td class="warning">{{ item.Comment}}</td>
                <td>{{ item.RecordTime}}</td>
                <td>
                        <button class="btn btn-danger" (click) = 'DeleteLog(item.RowKey, item.Name)' >
                                刪除
                        </button>
                        <button type="button" class="btn btn-info" (click)="openModal(item)">編輯</button>
                      
                </td>

            </tr>
        </tbody>
   
</table>

{{modalMessage}}