<span><img src='../assets/Photos/NHCC.jpg' width=100% height=40% /></span>

<div>
  <button mat-raised-button color="primary" (click)="downloadImage()">
    <mat-icon>save</mat-icon> 下載圖片
  </button>
</div>

<div #screen >
  <table class="table table-bordered table-striped">
    <tr>
        <th>
            編號
        </th>
        <th>
            空氣重量
        </th>
        <th>
            水中重量
        </th>
        <th>
            物體比重
        </th>
        <th>
          總類
        </th>
        <th>
          備註
        </th>
    </tr>

        <tr>
            <td>

            </td>
            <td>
                <input type="number"
                [(ngModel)]='airweight'
                style="width: 6em;"
                />
            </td>
            <td>
                <input type="number"
                [(ngModel)]='waterweight'
                style="width: 6em;"
                />
            </td>
            <td>
                {{caculateweightrate()}}
            </td>
            <td>
              <select matNativeControl [(ngModel)]="type" >
                <option value=""></option>
                <option value="翡翠鐲">翡翠鐲</option>
                <option value="玉鐲">玉鐲</option>
                <option value="翡翠配件">翡翠配件</option>
                <option value="玉把玩件">玉把玩件</option>
                <option value="玉雕">玉把玩件</option>
                <option value="壽山石">壽山石</option>
                <option value="其他">其他</option>
              </select>
          </td>
          <td>
            <input type="note"
            [(ngModel)]='note'
            style="width: 6em;"
            />
        </td>
            <td>
                <button mat-raised-button class="btn btn-primary" (click) = 'addintolist()'>
                  <mat-icon>add</mat-icon>
                    新增
                 </button>
            </td>
        </tr>

    <tbody>
        <tr *ngFor = 'let item of weightList'>

            <td>{{ item.id}}</td>
            <td>{{ item.airweight }}</td>
            <td>{{ item.waterweight}}</td>
            <td>{{ item.ratioweight}}</td>
            <td>{{ item.type}}</td>
            <td>{{ item.note}}</td>
        </tr>
    </tbody>



</table>
</div>




<div id="download" style="visibility: hidden;">
  <img #canvas>
  <a #downloadLink></a>
</div>





