<div class="modal-header table-hover">
    <h4 class="modal-title pull-left">{{History.DateTime}}</h4>
    <button type="button" class="btn btn-primary" (click)="save()">儲存</button>
</div>
<div class="modal-body">
  <table class="table table-bordered">
    <tr>
      <td>
        每日步數
      </td>
      <td>
        <input type="number" [(ngModel)]='History.WalkSteps' />
      </td>
    </tr>

    <tr>
      <td>
        體重(kg)
      </td>
      <td>
        <input type="number" [(ngModel)]='History.Weight' />
      </td>
    </tr>

    <tr>
      <td>
        血壓 <button type="button" class="btn btn-sm btn-danger" (click)=newblood();>新增</button>
      </td>
      <td>
        <table>

          <tbody class="table table-bordered table-striped">
            <tr *ngFor="let blood of History.BloodPressures; let x = index">
              <td>

                <table>
                  <tr>
                    <td>
                      收縮壓 :
                    </td>
                    <td>
                      <input [(ngModel)]="blood.BloodHigh" #ctrl="ngModel" type="number" style="width: 60%;">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      舒張壓 :
                    </td>
                    <td>
                      <input [(ngModel)]="blood.BloodLow" #ctrl="ngModel" type="number" style="width: 60%;">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      脈搏 :
                    </td>
                    <td>
                      <input [(ngModel)]="blood.Pulse" #ctrl="ngModel" type="number" style="width: 60%;">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      時間 :
                    </td>
                    <td>
                      {{blood.DateTime}}
                    </td>
                  </tr>
                </table>

              </td>

              <td>
                <button type="button" class="btn btn-sm btn-danger" (click)="removeblood(x)">刪除</button>
              </td>
            </tr>
          </tbody>
        </table>


      </td>
    </tr>
    <tr>
      <td colspan="2">
        餐飲
        <div class="center">
          <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              拖曳或是選擇要上傳的餐飲圖片(必須小於4mb)
              <button type="button" (click)="openFileSelector()">Browse Files</button>
            </ng-template>
          </ngx-file-drop>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table>
          <tbody class="table table-bordered table-striped">
            <tr *ngFor="let meal of History.Meals; let x = index">
              <td>
                <table>
                  <tr>
                    <td>
                      <img [src]="meal.ImageLink" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="string" [(ngModel)]='meal.Name' style="width: 90%;" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{meal.DateTime}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button type="button" class="btn btn-sm btn-danger" (click)="removeMeal(x)">刪除</button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        其他事項
      </td>
      <td>
        <textarea [(ngModel)]='History.Comment' class="form-control">

               </textarea>
      </td>
    </tr>

  </table>
</div>
      <div class="modal-footer">
           <button type="button" class="btn btn-primary" (click)="save()">儲存</button>
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">取消</button>
        </div>
