<div class="modal-header table-hover">
    <h4 class="modal-title pull-left">{{History.DateTime}}</h4>
</div>
    <div class="modal-body">
      <table class="table table-bordered">
        <tr>
            <td>
                每日步數
            </td>
            <td>
            <input type="number"
            [(ngModel)]='History.WalkSteps'
             />
            </td>
        </tr>

        <tr>
            <td>
                體重(kg)
            </td>
            <td>
            <input type="number"
            [(ngModel)]='History.Weight'
             />
            </td>
        </tr>

        <tr>
        <td>
           血壓    <button type="button" class="btn btn-sm btn-danger" (click) = newblood();>新增</button>
        </td>
        <td>
          <table>
            <th>
              收縮壓
            </th>
            <th>
              舒張壓
            </th>
            <th>
              脈搏
            </th>
            <th>
              時間
            </th>
            <tbody class="table table-bordered table-striped">
              <tr *ngFor = "let blood of History.BloodPressures">
                <td>  <input type="number"
                  [(ngModel)]='blood.BloodHigh'
                   />  </td>
                <td>
                  <input type="number"
                  [(ngModel)]='blood.BloodLow'
                  />

                </td>
                <td>
                  <input type="number"
                  [(ngModel)]='blood.Pulse'
                  />

                </td>
                <td>
                  {{blood.DateTime}}
                </td>
              </tr>
            </tbody>
          </table>


        </td>
        </tr>

        <tr>
        <td>
            其他事項
        </td>
        <td>
           <textarea [(ngModel)]='History.Comment' class="form-control" >

           </textarea>
        </td>
        </tr>

        <tr >

                <td>
                    <button class="btn btn-primary" (click) = 'savelog()'>
                       儲存
                     </button>

                </td>

          </tr>
      </table>




    </div>
          <div class="modal-footer">
                 <button type="button" class="btn btn-primary" (click)="Save()">儲存</button>
                <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">取消</button>
          </div>


