<span> <img src='../assets/Photos/tealogo.jpg' width=20% height=20% /></span>
<p></p>
<span> <img src='../assets/Photos/title2.jpg' width=100% height=100% /></span>
<p></p>

<div style="text-align:center;">
        <h2>普洱茶倉系統管理頁面</h2> <h3>(登入者:{{User}} , 登入時間: {{LogInTime}})   <button mat-raised-button (click)="logout()" color="primary">登出</button> </h3>
</div>



<div class="container"  >
        <div id="rcorners1a" >
                        <div class="row" id ="frontbackground" >
                                        <h3>庫存系統</h3>
                                 </div>
                                 <div class="row"   id ="frontbackground"  >
                                   <div class="col">
                                                 <button class="button"  onclick="location.href='#/clientlist';  "><i class="fa fa-address-book" ></i> 庫存列表 </button>
                                   </div>
                                   <div class="col">
                                    <button class="button"  onclick="location.href='#/paymentlist';  "><i class="fa fa-address-book" ></i> 付費列表 </button>
                                   </div>
                                   <div class="col">
                                    <button class="button"  onclick="location.href='#/searchtea';  "><i class="fa fa-search" ></i> 搜尋庫存 </button>
                                   </div>
                                   <div class="col">
                                                 <button class="button" onclick="location.href='#/uploadinvfile';"><i class="fa fa-cloud-upload"></i> 上傳檔案 (更新時間: {{LastUpdateTime}})</button>
                                   </div>
                                 </div>
                                 <div class="row"   id ="frontbackground" >
                                         <hr>
                        </div>
        </div>
        <div id="rcorners1a">
                        <div class="row" style="background-color:lightcyan;">
                                        <h3>推廣系統</h3>
                                </div>
                                <div class="row" style="background-color:lightcyan;" >
                                  <div class="col">
                                        <button class="button"  onclick="window.open('#/articleshow', '_blank'); "><i class="fa fa-book" ></i> 推廣文章連結 </button>
                                  </div>
                                  <div class="col">
                                         <button class="button"  onclick="location.href='#/articlelist';"><i class="fa fa-cloud-upload" ></i>推廣文章管理 </button>
                                  </div>
                                  <div class="col">
                                    <button class="button"  onclick="location.href='#/adimage';"><i class="fa fa-cloud-upload" ></i>藏家頁面廣告管理 </button>
                                 </div>
                                </div>
                                <div class="row" style="background-color:lightcyan;">
                                                <hr>
                                 </div>

        </div>

</div>
