.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;


}


.linephoto {
  width: 600px;
  height: 900px;
}

.example-header-image {
  background-image: url('../../../assets/Photos/Line-Pair-Logo-sm.png');
  background-size: cover;
}

.girl-header-image {
  background-image: url('../../../assets/Photos/girlavatar.png');
  background-size: cover;
}
