<div class="background">

  <div class="container"   [@simpleFadeAnimation]="'in'">


      <div class="question">{{Title}}</div>
      <p></p>
      <br>
      <div class="answer">
        <img src="./../../../assets/Photos/certificate.png" width="20%"/>
        {{Content}}
        <p></p>
        <br>

        <img src="./../../../assets/Photos/board5.jpg"/>
        <p></p>

        <img src="./../../../assets/Photos/board2.JPG"/>
        <p>
        <img src="./../../../assets/Photos/board3.JPG"/>
        <p>
          <img src="./../../../assets/Photos/board4.JPG"/>
      </div>

      <p></p>
        <br>

        <div  class="row">
          <div class="col-md-4">
            <button class="direction" (click)="click2()"><i class="far fa-hand-point-left"></i> 上一頁 </button>
          </div>
          <div class="col-md-8">
            <button class="direction" (click)="click1()"><i class="far fa-hand-point-right"></i> 請到下一頁 </button>
          </div>
        </div>

  </div>

</div>



