<span> <img src='../assets/Photos/tealogo.jpg' width=20% height=20% /></span>

<h4> 2019 正德秋拍 結果</h4>

<igx-carousel style="width:100%">
  <igx-slide>
       <img src='./../../../assets/Photos/627p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/628p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/630p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/632p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/633p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/635p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/637p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/638p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/639p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/640p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/641p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/643p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/645p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/646p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/647p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/648p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/649p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/650p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/651p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/652p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/653p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/655p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/656p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/657p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/658p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/659p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/660p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/661p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/662p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/663p.gif'/>
  </igx-slide>
  <igx-slide>
    <img src='./../../../assets/Photos/665p.gif'/>
  </igx-slide>

</igx-carousel>


